.sidebar{
    width: 15%;
    background: #fff;
    position: fixed;
    height: 100%;
    top: 190px;
    z-index: 999;
    padding: 20px 20px 200px 20px ;
    transition:  all linear 0.3s;
}
.sidebar:hover{
    overflow: scroll;
    scroll-behavior: smooth;
}