#login-page{
    background: #fff;
}
.login-page-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 80px
}
.user-details-box{
    width:50%;
}
.form-user-all-details-box{
    width: 400px;
    margin: 0 auto;
}
.user-details{
    width: 100%;
    text-align: left;
}
.login-page-head{
    font-size: 45px;
    font-weight: 700;
    color: #2c2c72;
    line-height: 150%;
    margin-bottom: 8px;
}
.login-page-pera{
    font-size: 16px;
    font-weight: 400;
    color: #2c2c72;
    line-height: 140%;
    margin-bottom: 18px;
}
.google-account-box{
    width: 100%;
    background: #fff;
    border: 1px solid #2c2c72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 8px 0;
    margin-bottom: 10px;
    position: relative;
}
.google-account-box::after{
    position: absolute;
    content: "";
    right: 0;
    bottom: -40px;
    width: 170px;
    height: 1px; 
    background: #857979;
}
.google-account-box::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: -40px;
    width: 170px;
    height: 1px; 
    background: #857979;
}
.or-box{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #2c2c72;
    margin-top: 26px;
}
.google-account{
    font-size: 16px;
    font-weight: 500;
    color: #2c2c72;
    cursor: pointer;
}
.form-box{
    width: 100%;
    text-align: left;
    margin-top: 70px;
}
.email-style{
    font-size: 16px;
    font-weight: 400;
    color: #2c2c72;
    line-height: 140%;
    margin-bottom: 10px;
}
.email-input-box{
    width: 100%;
    
}
.email-input{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 30px;
    border: 1px solid #2c2c72;
    outline: none;
    border-radius: 10px;
}
.lonin-error{
    font-size: 12px;
    font-weight: 700;
    color: red;
    margin-top: 4px;
}
.password-style{
    font-size: 16px;
    font-weight: 400;
    color: #2c2c72;
    line-height: 140%;
    margin: 10px 0;

}
.password-input-box{
    width: 100%;
}
.password-input{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 30px;
    border: 1px solid #2c2c72;
    outline: none;
    border-radius: 10px;
}
.forget-pass-box{
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.forget-pass{
    font-size: 18px;
    font-weight: 700;
    color: #2c2c72;
    line-height: 140%;
}
.login-image-box{
    width: 50%;
    height: 100vh;
    overflow: hidden;
}
.login-image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-login-btn-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    background: #2be2d3;
    border-radius: 10px;
}
.form-login-btn{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    padding: 10px 30px;
    background: #2be2d3;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}
.sign-create-account-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    margin-top: 30px;
}
.sign-create-account-style{
    font-size: 16px;
    font-weight: 400;
    color: #2c2c72;
    text-transform: capitalize;
}
.sign-create-style{
    font-size: 18px;
    font-weight: 700;
    color: #2c7243;
    text-transform: capitalize;
    cursor: pointer;
}
.oval{
    padding: 13px 0;
}