.userdash-profile-box-flex{
    display: flex;
    justify-content: left;
    column-gap: 30px;
    position: relative;
}
.userdash-profile-box-flex::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -30px;
    background: #746c6c;
}
.userdash-profile-box{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.userdash-profile-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userdash-name-box{
    text-align: left;
}
.userdash-name-head{
    font-size: 22px;
    font-weight: 700;
    color: #000;
    list-style: 150%;
    margin-bottom: 8px;
}
.userdash-email{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.user-channel-box{
    margin-top: 10px;
    text-align: left;
}
.user-create-channel{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(18, 61, 124);
}
.userdash-all-link-box{
    margin-top: 30px;
}