.tage-box li a{
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #412727;
    padding: 10px 20px;
    background: #f0ebeb;
    border-radius: 10px;
    transition: all linear 0.3s;
}
.selected-tag-link{
    background: #dbd4d4;
}