.selected-tag-link{
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #412727;
    text-transform: capitalize;
    padding: 10px 20px;
    background: #f0ebeb;
    border-radius: 10px;
    transition: all linear 0.3s;
}
.selected-tag-link{
    background: #dbd4d4;
}
.selected-tage{
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #272c41;
    text-transform: capitalize;
    padding: 10px 20px;
    background: #1d4785;
    border-radius: 10px;
    transition: all linear 0.3s;
}