#signin-page{
    background: #fff;
}
.signin-page-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 80px
}
.signin-user-details-box{
    width:50%;
}
.signin-form-user-all-details-box{
    width: 450px;
    margin: 0 auto;
}
.signin-user-details{
    width: 100%;
    text-align: left;
}
.signin-page-head{
    font-size: 45px;
    font-weight: 700;
    color: #2c2c72;
    line-height: 150%;
    margin-bottom: 8px;
}
.signin-page-pera{
    font-size: 16px;
    font-weight: 400;
    color: #2c2c72;
    line-height: 140%;
    margin-bottom: 18px;
}
.signin-form-box{
    width: 100%;
    text-align: left;
    margin-top: 40px;
}
.signin-fullname-style{
    font-size: 16px;
    font-weight: 400;
    color: #2c2c72;
    line-height: 140%;
    margin-bottom: 10px;
}
.signin-fullname-input{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 30px;
    border: 1px solid #2c2c72;
    outline: none;
    border-radius: 10px;
}
.signin-email-style{
    font-size: 16px;
    font-weight: 400;
    color: #2c2c72;
    line-height: 140%;
    margin-bottom: 10px;
}
.signin-email-input-box{
    width: 100%;
    margin-bottom: 20px;
}
.signin-email-input{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 30px;
    border: 1px solid #2c2c72;
    outline: none;
    border-radius: 10px;
}
.signin-lonin-error{
    font-size: 12px;
    font-weight: 700;
    color: red;
    margin-top: 4px;
}
.signin-password-style{
    font-size: 16px;
    font-weight: 400;
    color: #2c2c72;
    line-height: 140%;
    margin: 10px 0;
}
.signin-password-input-box .signin-conpass-input-box{
    width: 100%;
}
.signin-password-input{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 30px;
    border: 1px solid #2c2c72;
    outline: none;
    border-radius: 10px;
}
.signin-conpass-style{
    font-size: 16px;
    font-weight: 400;
    color: #2c2c72;
    line-height: 140%;
    margin: 10px 0;
}
.signin-conpass-input{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 30px;
    border: 1px solid #2c2c72;
    outline: none;
    border-radius: 10px;
}
.signin-image-box{
    width: 50%;
    height: 100vh;
    overflow: hidden;
}
.signin-image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.signin-form-signin-btn-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background: #2be2d3;
    border-radius: 10px;
}
.signin-form-signin-btn{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    padding: 10px 30px;
    background: #2be2d3;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}
.oval{
    padding: 10px 0;
}
